*__pycache__
deep_learning_and_the_game_of_go/*
.vscode/*
.idea/*
go/data/*

log

kgs_index.html
test_samples.py
playground.ipynb

go/apps/dlgo/tree_search/refer_code/*
gobang/web_server/front_end/src/App copy.js